<div class="">
    <app-sidebar></app-sidebar>
    <div class="container" style="margin-top: -700px;
    margin-left: 312px;">
        <div class="card shadow mb-4">
            <div class="card-body">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let parti of participants">
                        <tr>
                            <td>{{parti.idpart}}</td>
                            <td>{{parti.nompart}}</td>
                            <td>{{parti.email}}</td>
                            <td>{{parti.adress}}</td>
                            <td>{{parti.numtel}}</td>
                            <td><a class="btn btn-danger" (click)="deleteParticipant(parti)">Supprimer</a></td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>