<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container d-flex justify-content-between flex-column align-items mt-5">
        <div class="card shadow mb-4">
            <div class="card-body">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Descrption</th>
                            <th scope="col">Location</th>
                            <th scope="col">Available seats</th>
                            <th scope="col">Host </th>
                            
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let conferances of conferances ; let i = index">
                        <tr>
                            <td data-label="image">
                                <img [src]="listImages[i]" alt="img"
                                    style="width: 120px; height:90px">
                            </td>
                            <td>{{conferances.id}}</td>
                            <td>{{conferances.title}}</td>
                            <td>{{conferances.description}}</td>
                            <td>{{conferances.location}}</td>
                            <td>{{conferances.nbPlace}}</td>
                            <td>{{conferances.guest}}</td>

                            <td><a class="btn btn-danger" (click)="deleteConferance(conferances)">Delete</a></td>
                            <td><a class="btn btn-success"  [routerLink]="['/UpdatConferancet',conferances.id]">Update</a></td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>